html
  font-size 10px
  height 100%

body
  font-size 1.4rem
  font-weight normal
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  height 100%

#__nuxt
  height 100%
#__layout
  height 100%

// .page-enter-active,
// .page-leave-active
//   transition: opacity .5s

// .page-enter,
// .page-leave-to
//   opacity: 0

*
  box-sizing border-box

svg
  width 100%
  height 100%

// @media screen and (max-width: 767px)
//   html
//     font-size: calc(10px + 13 * (100vw - 320px) / 447)

// @media screen and (min-width: 768px) and (max-width: 1023px)
//   html
//     font-size: calc(10px + 4 * (100vw - 768px) / 255)

// @media (min-width: 1024px)
//   html
//     font-size: calc(8px + 2 * (100vw - 1024px) / 336)


// _:default:not(:root:root),
// html
//   animation webkitfix 1s forwards infinite


// @-webkit-keyframes webkitfix
//   100%
//     z-index: auto

main
  height 100%

.wrapper
  min-height 100%
  background white
  margin-bottom 20rem

.container
  max-width 120rem
  margin 0 auto
  height inherit